/*  Establece tipo de fuente y color principal para todo el contenido del cuerpo de la pagina */
body {
    font-family:"Raleway"; sans-serif

}

a {
    color: white !important;
}



 /* Ejecto Navbar Scroll */

 .fixed-top.scrolled {
    background-color: #0dcaf0 !important;
    transition: background-color 200ms linear;
  }


  /* Footer */
  
  footer {
    /* border: 5px solid yellow; */
    height: 80px;
  }